{% extends 'base.html' %}
{% block content %}
<div class="row mt-3">
    

    <div class="col-lg-8" style="padding-left: 300px;">
      <div class="card">
         <div class="card-body">
         <div class="card-title">Change Password</div>
         <hr>
          <form method="POST">
            {% include 'includes/messages.html' %}
            {% csrf_token %}
      
         <div class="form-group">
          <label for="input-7">Current Password</label>
          <input type="password" class="form-control form-control-rounded" name="cpwd" required="True">
         </div>
         <div class="form-group">
          <label for="input-8">New Password</label>
          <input type="password" class="form-control form-control-rounded" name="npwd" required="True" id="pas">
         </div>
        
         
         
         <div class="form-group">
          <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Change</button>
        </div>
        </form>
       </div>
       </div>
    </div>
  </div>
  {% endblock %}